@import '../../scss/buttons';

.tttoe__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 30px;
	right: 30px;
	padding: 7px 17px 3px 17px;
	border-radius: 10px;
	box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.3);
	border-bottom: 5px solid transparent;
	font-size: 22px;
	background: white;
	color: black;

  &.active {
	  border-bottom-color: yellow;
  }

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1;
  }
}

.tttoe__invite {
  @extend .tttoe__btn;
	position: absolute;
}
