@import '../../scss/buttons';

.tttoe__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 30px;
	right: 30px;
  padding: 7px 17px 7px 17px;
  border-radius: 10px;
  border: 1px solid #dedede;
  // box-shadow: 0 -4px 2px -1px inset yellow, 0 20px 20px -10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.3);
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
	background: white;
	color: black;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1;
  }
}
