@import '../../scss/buttons';

.tttoe__game {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  cursor: pointer;
}

.tttoe__win {
	position: absolute;
	font-size: 20vw;
	text-transform: uppercase;
	color: #6f76a2;
	text-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.tttoe__actions {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;

  .tttoe__btn {
    margin: 0 5px;
  }
}
