@import '../../scss/buttons';

$margin: 0.02;

.tttoe__square {
  background: white;
  // border: 2px solid #ccc;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.11em;
  //
  box-sizing: border-box;
  border: none;
  border-radius: 10%;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);

  &,
  &>span {
    user-select: none;
  }

  &.victory {
    background: yellow;
  }

  @media (orientation: landscape) {
    width: calc(33.3333% - #{$margin * 200vh});
    height: calc(33.3333% - #{$margin * 200vh});
    margin: 2vh;
    font-size: 15vh;
  }

  @media (orientation: portrait) {
    width: calc(33.3333% - #{$margin * 200vw});
    height: calc(33.3333% - #{$margin * 200vw});
    margin: $margin * 100vw;
    font-size: 15vw;
  }
}
