<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="twitter:card" value="<%= htmlWebpackPlugin.options.title %>">
		<meta name="Description" content="<%= htmlWebpackPlugin.options.description %>"/>
		<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
		<meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>" />
		<meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
		<meta name="theme-color" content="<%= htmlWebpackPlugin.options.color %>">
		<meta name="msapplication-navbutton-color" content="<%= htmlWebpackPlugin.options.color %>">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
