@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

/*
@font-face {
  font-family: 'BubbleBoddy';
  src: url('../assets/fonts/bobbleboddy-webfont.woff2') format('woff2'),
       url('../assets/fonts/bobbleboddy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/
