body {
  font-family: 'Nunito', sans-serif;
  // font-family: 'NTR', sans-serif;
  // font-family: 'BubbleBoddy', 'Raleway', sans-serif;
	background: #6060b4;
  background: linear-gradient(-45deg, #00c4ff, #8800ff);
  line-height: 1;
}
